<div class="container">



	<div class="row border-top pt-1">
		<div class="col-sm-2">
			<img style="width:100%" src="<%= item.item.image %>" alt="purchase image">
		</div>
		<div class="col-sm-4">
			<h3 style="text-transform:uppercase;">
			<%= item.item.title %></h1>
			<p class="text-muted">
			<%= item.item.description %></p>
			<p>Size: <%= item.item.size %>
			
			<p>
			<a href="/shop/removefromcart/<%= item.item._id %>" class="btn btn-primary btn-sm" style="border-radius:5px;">Remove</a>
		</div>
		<div class="col-sm-4">
			<p class="border-bottom"><strong>Quantity</strong></p>
			<p><strong><%= item.qty %> </strong><a href="/shop/reduce/<%= item.item._id %>" role="button" class="btn btn-primary btn-sm" style="border-radius:5px;"><i class="fa fa-caret-down"></i></a>
			<a href="/shop/addtocart/<%= item.item._id %>" role="button" class="btn btn-primary btn-sm" style="border-radius:5px;"><i class="fa fa-caret-up"></i></a></p>
			

		</div>
		<div class="col-sm-2">
			<p class="border-bottom"><strong>Total</strong></p>
			<p>$<%= (item.item.price / 100).toFixed(2) %></p>
		</div>
	</div>
</div>





<!--<div class="card">
<a href="/shop/removefromcart/<%= item.item._id %>" class="btn btn-primary  btn-sm mx-5 my-2">Remove</a>
  <img class="card-img-top" src="<%= item.item.image %>" alt="purchase image">
  <div class="card-body">
    <h4 class="card-title" style="text-transform:uppercase;"><%= item.item.title %></h4>
    <p class="card-text text-muted"><%= item.item.description %></p>
	<table class="table table-striped">
	 
		<thead>
			<tr>
				<th scope="col">Price</th>
				<th scope="col">Quantity 
				<a href="/shop/reduce/<%= item.item._id %>" role="button" class="btn btn-primary btn-sm" style="border-radius:5px;">–</a>
				<a href="/shop/addtocart/<%= item.item._id %>" role="button" class="btn btn-primary btn-sm" style="border-radius:5px;">+</a>
				</th>
				<th scope="col">Size</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$ <%= (item.item.price / 100).toFixed(2) %></td>
				<td><%= item.qty %>
				</td>
				<td><%= item.item.size %></td>
			</tr>
  </tbody>
</table>
	
	
   
  </div>
</div>-->
