


<div class="card">
<a href="/shop/removefromcart/<%= item.item._id %>" class="btn btn-primary mx-5 my-2">Remove</a>
  <img class="card-img-top" src="<%= item.item.image %>" alt="purchase image">
  <div class="card-body">
    <h4 class="card-title" style="text-transform:uppercase;"><%= item.item.title %></h4>
    <p class="card-text text-muted"><%= item.item.description %></p>
	<table class="table table-striped">
	 
		<thead>
			<tr>
				<th scope="col">Price</th>
				<th scope="col">Quantity 
				<a href="/shop/reduce/<%= item.item._id %>" role="button" class="btn btn-primary btn-sm" style="border-radius:5px;">–</a>
				<a href="/shop/addtocart/<%= item.item._id %>" role="button" class="btn btn-primary btn-sm" style="border-radius:5px;">+</a>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>$ <%= (item.item.price / 100).toFixed(2) %></td>
				<td><%= item.qty %>
				</td>
			</tr>
  </tbody>
</table>
	
	
   
  </div>
</div>