<div class="row">
		<div class="col-sm-6">
			<img src="<%= item.image %>" style="width:100%;"></img>
		</div>
		<div class="col-sm-6">			
			<h3 style="text-transform:uppercase;"><%= item.title %></h3> 
			
			<p class="text-muted"><%= item.description %></p>
			
			<p class="text-muted"><strong>Choose Size</strong>
			
			<button @click="selectSize('S')" style="border-radius:5px;" class="btn btn-sm" :class="(sz === 'S' ? 'btn-success' : '')">S</button>
			<button @click="selectSize('M')" style="border-radius:5px;" class="btn btn-sm" :class="(sz === 'M' ? 'btn-success' : '')" >M</button>
			<button @click="selectSize('L')" style="border-radius:5px;" class="btn btn-sm" :class="(sz === 'L' ? 'btn-success' : '')" >L</button>
			<button @click="selectSize('XL')" style="border-radius:5px;" class="btn btn-sm" :class="(sz === 'XL' ? 'btn-success' : '')" >XL</button>
			
			<p class="text-muted pb-4"><strong>PRICE: $ <%= (item.price / 100).toFixed(2) %></strong></p>
			
			<a class="btn btn-primary btn-xl" style="border-radius:5px;" href="/shop/addtocart/<%= item._id %>">Add to Cart</a>
		</div>	
</div>
