<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>

    <!-- Page Content -->
    <div id="page-top">
	<section id="donate">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="col-sm-12">
						<% if (locals.cart) { %>
							<% cart.forEach(function(item) { %>
								<p>
									<span class="badge badge-primary block"><%= item.qty %></span>
									<%= item.item.title %>
									<span> Size </span>
									<%= item.item.size %>
								</p>
							<% }); %>
						<% } %>
						<% if (locals.ship) { %>
							<% if (ship) { %>
								<h3>
									These items will be shipped to the address you provided:
								</h3>
								<p>
									<%= order.name %>
								</p>
								<p>
									<%= order.address %>
								</p>
								<p>
									<%= order.city %>
									<span>
										<span>, </span>
										<%= order.state %>
									</span>
									<span>
										<%= order.zip %>
									</span>
								</p>
								
							<% } %>
						<% } else { %>
							<h3> Your items will be available for pick up. </h3>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>